<nav>
    <ul class="list-none text-[14px] font-normal flex flex-initial flex-col md:flex-row gap-5">
      <li>
        <a href="/" class="opacity-60 text-devblog-primary hover:opacity-100 hover:text-devblog-accent transition-all duration-300 dark:text-white dark:hover:text-devblog-accent">Menu</a>
      </li>
      <li>
        <a href="/blog" class="opacity-60 text-devblog-primary hover:opacity-100 hover:text-devblog-accent transition-all duration-300 dark:text-white dark:hover:text-devblog-accent">Blog</a>
      </li>
      <li>
        <a href="/about-me" class="opacity-60 text-devblog-primary hover:opacity-100 hover:text-devblog-accent transition-all duration-300 dark:text-white dark:hover:text-devblog-accent">Sobre mí</a>
      </li>
      <!-- Botón de búsqueda -->
      <li>
        <a href="/search" class="opacity-60 text-devblog-primary hover:opacity-100 hover:text-devblog-accent transition-all duration-300 dark:text-white dark:hover:text-devblog-accent">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" viewBox="0 0 24 24" stroke-width="2" class="w-5 h-5">
            <path d="M21 21l-4.35-4.35M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"></path>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
  
  
  